In [13]:
import pandas as pd

metadata = pd.read_csv('../data/hdf_metadata.csv',parse_dates=['start_datetime','end_datetime'])
metadata

,id,start_datetime,end_datetime,run_length,avg_cell_value,tags
0,0,2010-11-01 00:00:00,2010-11-01 13:35:00,164,4.917969,rain snow
1,1,2010-11-01 13:50:00,2010-11-01 23:55:00,122,3.693359,rain snow
2,2,2010-11-02 00:00:00,2010-11-02 16:40:00,201,4.234375,rain snow
3,3,2010-11-07 00:00:00,2010-11-07 20:40:00,249,1.251953,rain snow
4,4,2010-11-07 20:55:00,2010-11-07 23:55:00,37,2.078125,rain snow
...,...,...,...,...,...,...
1727,1727,2019-10-28 19:15:00,2019-10-28 23:55:00,57,4.617188,rain
1728,1728,2019-10-29 00:00:00,2019-10-29 23:55:00,288,1.966797,rain
1729,1729,2019-10-30 00:00:00,2019-10-30 02:30:00,31,1.183594,rain
1730,1730,2019-10-30 02:40:00,2019-10-30 23:55:00,256,1.406250,rain
1731,1731,2019-10-31 00:00:00,2019-10-31 10:40:00,129,1.127930,NaN

In [ ]:
print(metadata.dtypes)
print(metadata.isnull().any())
# (metadata['end_datetime'] - metadata['start_datetime']).dt.total_seconds() / 60 / 5 + 1

id                         int64
start_datetime    datetime64[ns]
end_datetime      datetime64[ns]
run_length                 int64
avg_cell_value           float64
tags                      object
dtype: object
id                False
start_datetime    False
end_datetime      False
run_length        False
avg_cell_value    False
tags               True
dtype: bool

In [57]:
import random

# 生成时间序列
seq = pd.date_range('2019-10-30 00:00:00', '2019-10-30 02:30:00', freq="5min")

# 定义子序列长度
subseq_len = 25

# 计算可生成的子序列数量
num_subseq = len(seq) - subseq_len + 1
print(f"总共可以生成的子序列数: {num_subseq}")

# 划分为长度为25的滑动子序列
subseqs = [seq[i:i+subseq_len] for i in range(num_subseq)]

# 对subseqs进行shuffle
# random.shuffle(subseqs)

# 示例：打印第一个和最后一个子序列
print("第一个子序列：", subseqs[0])
print("最后一个子序列：", subseqs[-1])

subseqs = [seq[i:i+subseq_len][0] for i in range(num_subseq)]
subseqs

总共可以生成的子序列数: 7
第一个子序列： DatetimeIndex(['2019-10-30 00:00:00', '2019-10-30 00:05:00',
               '2019-10-30 00:10:00', '2019-10-30 00:15:00',
               '2019-10-30 00:20:00', '2019-10-30 00:25:00',
               '2019-10-30 00:30:00', '2019-10-30 00:35:00',
               '2019-10-30 00:40:00', '2019-10-30 00:45:00',
               '2019-10-30 00:50:00', '2019-10-30 00:55:00',
               '2019-10-30 01:00:00', '2019-10-30 01:05:00',
               '2019-10-30 01:10:00', '2019-10-30 01:15:00',
               '2019-10-30 01:20:00', '2019-10-30 01:25:00',
               '2019-10-30 01:30:00', '2019-10-30 01:35:00',
               '2019-10-30 01:40:00', '2019-10-30 01:45:00',
               '2019-10-30 01:50:00', '2019-10-30 01:55:00',
               '2019-10-30 02:00:00'],
              dtype='datetime64[ns]', freq='5min')
最后一个子序列： DatetimeIndex(['2019-10-30 00:30:00', '2019-10-30 00:35:00',
               '2019-10-30 00:40:00', '2019-10-30 00:45:00',
               '2019-10-30 00:50:00', '2019-10-30 00:55:00',
               '2019-10-30 01:00:00', '2019-10-30 01:05:00',
               '2019-10-30 01:10:00', '2019-10-30 01:15:00',
               '2019-10-30 01:20:00', '2019-10-30 01:25:00',
               '2019-10-30 01:30:00', '2019-10-30 01:35:00',
               '2019-10-30 01:40:00', '2019-10-30 01:45:00',
               '2019-10-30 01:50:00', '2019-10-30 01:55:00',
               '2019-10-30 02:00:00', '2019-10-30 02:05:00',
               '2019-10-30 02:10:00', '2019-10-30 02:15:00',
               '2019-10-30 02:20:00', '2019-10-30 02:25:00',
               '2019-10-30 02:30:00'],
              dtype='datetime64[ns]', freq='5min')

[Timestamp('2019-10-30 00:00:00'),
 Timestamp('2019-10-30 00:05:00'),
 Timestamp('2019-10-30 00:10:00'),
 Timestamp('2019-10-30 00:15:00'),
 Timestamp('2019-10-30 00:20:00'),
 Timestamp('2019-10-30 00:25:00'),
 Timestamp('2019-10-30 00:30:00')]